<div class="center jumbotron">
  <h1>Welcome to Mon Club</h1>

  <h2>
    This is the home page for the most private of private clubs.
  </h2>

  <% if logged_in? %>
    <%= link_to "Members index", users_path, class: "btn btn-lg btn-primary" %>
  <% else %>
  You need to be logged in to access the club's members' list. <br><br>
    <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>     <%= link_to "Log in", login_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>
